

body {
  margin: 0;
  font-family: Inter;
}

h1 {
  margin-top: 30px;
}

.nav-logo {
  width: 65px;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-list-item {
  margin-left: 10px;
  font-size: larger;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading{
  font-size: 35px;
  margin-left: 25px;
  color: #61DAFB;
  font-weight: 500;
}

.list-item{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.appImg{
  width: 60px;
}

nav{
  display: flex;
  align-items: center;
  
}

header {
  height: 85px;
  background: #21222A;
  padding: 30px;
}